<html>
<head>
    <title>Biodata</title>
</head>
<style>
input[type=checkbox]
{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.inbody {
        height: 842px;
        width: 595px;
        margin-left: auto;
        margin-right: auto;
}
</style>
<body>
    <div>
        <div>
            <div class="inbody">
                <div style="text-align:center;">
                    <h1>Shakya Outsourcing Solutions <span style="font-size:15px !important;"> (Regd.)</span></h1>
                </div>
                <div style="text-align:center;">
                   <h3>Kurukshetra-13611</h3>
                </div>
                <div style="text-align:center;">
                    <h2>BIO-DATA</h2>
                </div>
                <div>
                    <div style="width: 181px;height:197px;border-color:black !important;float: right;">
                        <div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center;">
                    <div><strong>Name</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div><strong>Father Name</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div><strong>Date Of Birth</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div ><strong>Marital Status</strong><span style="float:right;">:</span></div>
                    <div ><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div><strong>Educational Qualification</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div><strong>Permanent Address</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div><strong>Old EPF & ESIC Number</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div><strong>Bank Account no.</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div ><strong>IFSC Code</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div><strong>Police Station</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div ><strong>Post</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div><strong>Identification Mark</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div><strong>Date Of Joining</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div><strong>Experience</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div><strong>Preffered Jobs</strong><span style="float:right;">:</span></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;">
                    <div></div>
                    <div><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="margin-top:22px;">
                    <div>
                        <div >
                            <div style="padding:0px;text-align:right;">
                            <strong>Copy Of Id Proof :- </strong>
                            </div>
                            <div style="display:inline-flex;">
                                <div><strong>Aadhaar Card </strong></div><div style="margin-left:53px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <div style="padding:0px;">
                            </div>
                            <div style="display:inline-flex;">
                                <div><strong>Voter Card </strong></div><div style="margin-left:75px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <div style="padding:0px;">
                            </div>
                            <div style="display:inline-flex;">
                                <div><strong>Driving Licence </strong></div><div style="margin-left:42px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <div style="padding:0px;">
                            </div>
                            <div style="display:inline-flex;">
                                <div><strong>Pan Card </strong></div><div style="margin-left:84px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <div style="padding:0px;">
                            </div>
                            <div style="display:inline-flex;">
                                <div><strong>Bank Passbook </strong></div><div style="margin-left:42px;"><input type="checkbox"></div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:right;">
                        <div style="margin-top:40px;"><p>(Signature)</p></div>
                        <div style="display:inline-flex;padding:0px;">
                            <div style="padding:0px;"><strong>Date:</strong></div>
                            <div></div>
                        </div>
                        <div style="display:inline-flex;padding:0px;">
                            <div style="padding:0px;"><strong>Place:</strong></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>