<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
   	<meta name="description" content="">

    <title>Biodata</title>

   <!-- CSS -->
    <link rel="stylesheet" href="/static/jobsite/css/bootstrap.min.css" >
</head>
<style>
input[type=checkbox]
{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.inbody {
        height: 842px;
        width: 595px;
        margin-left: auto;
        margin-right: auto;
}
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 inbody">
                <div style="text-align:center;" class="col-lg-12 col-md-12">
                    <h1>Shakya Outsourcing Solutions<span style="font-size:15px !important;">(Regd.)</span></h1>
                </div>
                <div style="text-align:center;" class="col-lg-12 col-md-12">
                   <h3>Kurukshetra-13611</h3>
                </div>
                <div style="text-align:center;" class="col-lg-12 col-md-12">
                    <h2>BIO-DATA</h2>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div style="width: 181px;height:197px;border-color:black !important;float: right;" class="panel panel-default">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div style="text-align:center;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Name</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Father Name</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Date Of Birth</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Marital Status</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Educational Qualification</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Permanent Address</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Old EPF & ESIC Number</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Bank Account no.</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>IFSC Code</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Police Station</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Post</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Identification Mark</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Date Of Joining</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Experience</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                 <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"><strong>Preffered Jobs</strong><span style="float:right;">:</span></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="text-align:center;margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-9 col-md-9"><hr style="width: 100%; color: black; height: 1px; background-color:black;"></div>
                </div>

                <div style="margin-top:22px;" class="col-lg-12 col-md-12">
                    <div class="col-lg-5 col-md-5">
                        <div class="col-lg-12 col-md-12">
                            <div style="padding:0px;text-align:right;" class="col-lg-6 col-md-6">
                            <strong>Copy Of Id Proof :- </strong>
                            </div>
                            <div style="display:inline-flex;" class="col-lg-6 col-md-6">
                                <div><strong>Aadhaar Card </strong></div><div style="margin-left:53px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;" class="col-lg-12 col-md-12">
                            <div style="padding:0px;" class="col-lg-6 col-md-6">
                            </div>
                            <div style="display:inline-flex;" class="col-lg-6 col-md-6">
                                <div><strong>Voter Card </strong></div><div style="margin-left:75px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;" class="col-lg-12 col-md-12">
                            <div style="padding:0px;" class="col-lg-6 col-md-6">
                            </div>
                            <div style="display:inline-flex;" class="col-lg-6 col-md-6">
                                <div><strong>Driving Licence </strong></div><div style="margin-left:42px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;" class="col-lg-12 col-md-12">
                            <div style="padding:0px;" class="col-lg-6 col-md-6">
                            </div>
                            <div style="display:inline-flex;" class="col-lg-6 col-md-6">
                                <div><strong>Pan Card </strong></div><div style="margin-left:84px;"><input type="checkbox"></div>
                            </div>
                        </div>
                        <div style="margin-top:10px;" class="col-lg-12 col-md-12">
                            <div style="padding:0px;" class="col-lg-6 col-md-6">
                            </div>
                            <div style="display:inline-flex;" class="col-lg-6 col-md-6">
                                <div><strong>Bank Passbook </strong></div><div style="margin-left:42px;"><input type="checkbox"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3"></div>
                    <div style="text-align:right;" class="col-lg-4 col-md-4">
                        <div style="margin-top:40px;"><p>(Signature)</p></div>
                        <div style="display:inline-flex;padding:0px;" class="col-lg-12 col-md-12">
                            <div style="padding:0px;" class="col-lg-8 col-md-8"><strong>Date:</strong></div>
                            <div class="col-lg-4 col-md-4"></div>
                        </div>
                        <div style="display:inline-flex;padding:0px;" class="col-lg-12 col-md-12">
                            <div style="padding:0px;" class="col-lg-8 col-md-8"><strong>Place:</strong></div>
                            <div class="col-lg-4 col-md-4"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/static/jobsite/js/jquery.min.js"></script>
    <script src="/static/jobsite/js/bootstrap.min.js"></script>
</body>
</html>