<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/jobsite/css/bootstrap.min.css" >

</head>

<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
</style>

<body>
    <page size="A4">
        <div class="col-lg-12 col-md-12">

            <div style="text-align:center;" class="col-lg-12 col-md-12">
               <h1>Shakya Outsourcing Solutions<span style="font-size:15px !important;">(Regd.)</span></h1>
            </div>

            <div style="text-align:center;" class="col-lg-12 col-md-12">
               <h3>Kurukshetra-13611</h3>
            </div>

            <div style="text-align:center;" class="col-lg-12 col-md-12">
                    <h2>BIO-DATA</h2>
            </div>

            <div class="col-lg-12 col-md-12">
                <div style="width: 181px;height:197px;border-color:black !important;float: right;" class="panel panel-default">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

        </div>
    </page>

    <script src="/static/jobsite/js/jquery.min.js"></script>
    <script src="/static/jobsite/js/bootstrap.min.js"></script>

</body>
</html>